.logo-container {
  z-index: 0;
  width: 50%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    position: relative;
    width: 405px;
    height: 378px;
  }

  .solid-logo {
    position: absolute;

    width: 410px;
    height: 380px;
    opacity: 0;
    z-index: 1;
  }
}

.svg-container {
  stroke: #333;
  stroke-width: 6;
}
