.scroll-container {
  position: relative;

  .scroll-1 {
    display: flex;
    animation: fadeIn 1s 1.8s backwards;
    text-overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    z-index: 10;
  }
  .scroll-2 {
    display: flex;
    text-overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }
  .scroll-3 {
    display: flex;
    text-overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }
  .scroll-4 {
    display: flex;
    text-overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }
}
